:root {
    --size: 229px;
    --square-size: calc(var(--size) / 2.85);
    --inner-square-size: calc(var(--square-size) - 28%);
    --shadow-size: calc(var(--inner-square-size) + 10%);
    --container-size: calc(var(--size) * 2.5);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 800ms logoFadeIn 500ms ease-in-out forwards;
    background-color: #8807cb;
    height: var(--container-size);
    width: var(--container-size);
    border-radius: 50%;
}

#logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8807cb;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.square {
    position: absolute;
    height: var(--square-size);
    width: var(--square-size);
    transform: rotate(45deg);
    border-radius: 6%;
}

#logo > .square:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5%;
    margin-right: 18.2%;
    background-color: #ecd0f6;
}

#logo>.square:first-child::before, #logo>.square:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

#logo>.square:first-child::before {
    width: 14.5%;
    height: var(--shadow-size);
    background: linear-gradient(#b499c3 82%, transparent);
}

#logo>.square:first-child::after {
    height: 14.5%;
    width: var(--shadow-size);
    background: linear-gradient(90deg, transparent, #b499c3 18%);
}

.square:nth-of-type(2){
    background-color: #fff;
    margin-left: 16.8%;
    margin-bottom: 0.5%;
}

.square > .square {
    background-color: #8807cb;
    height: var(--inner-square-size);
    width: var(--inner-square-size);
    transform: none;
}

/* animations */

@keyframes logoFadeIn {
    from {
        background-color: #8807cb;
        height: var(--container-size);
        width: var(--container-size);
    }
    to {
        width: var(--size);
        height: var(--size);
        
    }
}